@media (max-width: 57rem) {
  .container {
    /* background-color: green; */
    max-width: 90%;
    text-align: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    /* background-color: aqua; */
    /* margin-bottom: 4rem; */
  }

  .header-left {
    max-width: 100%;
  }

  .header-left h1 {
    font-size: 4rem;
  }

  .header-left p {
    font-size: 1.7rem;
  }
  .header-right {
    /* background-color: red; */
    width: 100%;
  }

  .review-pane {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
  }

  .review-pane p {
    font-size: 1.5rem;
  }

  ion-icon {
    font-size: 1.5rem;
  }

  .cards-section {
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 10rem;
  }

  .card {
    font-size: 1.48rem;
    padding: 3rem;
    text-align: start;
  }
}
